In [13]:
from _01_datasets import *
from _02_plots import *

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
datasets = DATASETS()
plots = PLOTS()

In [3]:
datasets.build_players_dataset()
datasets.build_teams_dataset()
datasets.build_gameweeks_dataset()
datasets.build_positions_dataset()

In [4]:
datasets.transform_players_dataset()

In [5]:
datasets.players_dataset = datasets.players_dataset[datasets.players_dataset['total_points']>0]
model_df = datasets.players_dataset[['price', 'selected_by_percent', 'total_points', 'influence', 'creativity',
                                     'threat', 'expected_goals', 'expected_assists', 'expected_goals_conceded', 'team_name','position_name']]

In [6]:
model_df

,price,selected_by_percent,total_points,influence,creativity,threat,expected_goals,expected_assists,expected_goals_conceded,team_name,position_name
1,78,2.2,20,72.4,60.8,191.0,2.22,0.31,4.83,Arsenal,Forward
2,57,10.2,51,182.4,94.3,289.0,3.18,0.31,6.14,Arsenal,Forward
4,50,0.2,15,72.6,14.2,55.0,0.73,0.01,1.12,Aston Villa,Forward
5,85,43.6,80,348.4,240.3,515.0,6.89,1.55,15.02,Aston Villa,Forward
7,47,0.2,5,3.0,17.2,45.0,0.47,0.31,1.69,Bournemouth,Forward
...,...,...,...,...,...,...,...,...,...,...,...
730,45,0.1,10,77.6,10.0,0.0,0.00,0.01,4.26,Nott'm Forest,Goalkeeper
733,45,0.3,29,446.4,0.0,0.0,0.00,0.00,28.98,Sheffield Utd,Goalkeeper
737,52,8.1,47,332.4,0.0,0.0,0.00,0.00,18.71,Spurs,Goalkeeper
739,43,37.8,43,369.0,0.0,0.0,0.00,0.00,23.67,West Ham,Goalkeeper
744,50,1.6,36,314.8,0.0,0.0,0.00,0.00,18.84,Wolves,Goalkeeper

In [7]:
dummies_1 = pd.get_dummies(model_df['team_name'])
dummies_2 = pd.get_dummies(model_df['position_name'])

step_1 = pd.concat([model_df, dummies_1, dummies_2], axis=1)      
step_1.drop(['team_name', 'position_name'], inplace=True, axis=1)
model_df_transformed = step_1.replace({True: 1, False: 0})

y = model_df_transformed['total_points']
x = model_df_transformed.drop('total_points', axis=1)

In [8]:
model = LinearRegression().fit(x,y)

r_sq = model.score(x, y)
print(f"R^2: {r_sq}")

print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

R^2: 0.8988277065512735
intercept: 311287575791.35876
slope: [-5.80954298e-02  3.24286373e-01  1.05029802e-01  2.55167504e-02
  4.25115746e-02 -2.93765052e-01  6.04147742e-01  2.28463802e-02
 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10
 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10
 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10
 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10
 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10 -4.66367580e+10
 -2.64650818e+11 -2.64650818e+11 -2.64650818e+11 -2.64650818e+11]

In [9]:
model_df_simpler = datasets.players_dataset[['price', 'selected_by_percent', 'total_points', 'influence', 'creativity',
                                     'threat', 'expected_goals', 'expected_assists', 'expected_goals_conceded']]

y1 = model_df_simpler['total_points']
x1 = model_df_simpler.drop('total_points', axis=1)

In [11]:
model1 = LinearRegression().fit(x1,y1)

r_sq = model1.score(x1, y1)
print(f"R^2: {r_sq}")

print(f"intercept: {model1.intercept_}")
print(f"coefficients: {model1.coef_}")

R^2: 0.883643781473306
intercept: 1.8345322161999817
coefficients: [ 0.03069099  0.29436623  0.11211082  0.03252075  0.04596335 -0.37555755
 -0.33749241 -0.19848767]

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x1,y1,test_size=0.2)

In [17]:
model_train = LinearRegression().fit(x_train,y_train)

r_sq = model_train.score(x_train, y_train)
print(f"R^2: {r_sq}")

print(f"intercept: {model_train.intercept_}")
print(f"slope: {model_train.coef_}")

R^2: 0.8931094856313018
intercept: 0.2975695713167319
slope: [ 0.06070542  0.25213375  0.11119901  0.02894262  0.04155313 -0.12473596
 -0.15190228 -0.14424763]

In [20]:
model_train.predict(x_test)

array([13.06815364, 15.9710783 ,  7.77493315, 33.75008525,  4.06766124,
       30.54404663,  3.04589988,  3.50047132, 32.37523282,  5.01000052,
       15.80442333,  6.94834663,  3.15548073, 18.08852014, 30.98190278,
        6.38558321, 17.22906569,  2.99783563, 32.86956604, 31.79924038,
       11.82572537, 12.4681883 , 15.53511161,  4.57988901, 12.17868414,
       29.33605548, 42.19105032, 12.19846765, 26.94932154, 17.76766362,
       33.02270719, 39.76021296, 20.76157777,  6.82458105,  4.04459561,
        6.65745762, 27.81128947, 17.74313435, 44.49781265, 22.31373426,
       49.26389165, 28.73052326, 27.82605996, 29.75228256, 11.34633717,
       59.24595782,  3.34100337,  5.30782979, 11.00912873, 44.57931206,
       26.37873285, 39.2179303 , 39.27211186, 20.12065023, 26.95672554,
       46.75206992, 42.49883682, 17.09492133, 20.31916283, 55.74666299,
       11.3569824 , 19.85601929, 42.24132524, 39.6525733 , 28.41021791,
       19.80949051,  6.45546175,  8.46955198, 16.79636483, 47.94365632,
       23.12421936,  2.85335925, 15.67171205,  4.14564482, 10.89416525,
       19.25906882, 18.01063069, 25.86997473, 35.65378582, 27.74566569,
        3.29155718, 42.27069906, 17.04536233,  4.41868328,  4.5547551 ,
       28.8245821 ,  9.36828214, 34.29330164, 55.39140571,  7.70426457,
       48.56389589, 20.58287626,  9.25293473, 28.27454677])

In [25]:
y_pred = [round(num) for num in model_train.predict(x_test)]